<form action="/registrar" method="POST">
  <div><label for="especie">Especie:</label>
    <input type="text" name="especie" placeholder="ej.Gato" id="especie" />
  </div>
  <div><label for="nombre">Nombre:</label>
    <input type="text" name="nombre" placeholder="ej.Toby" id="nombre" />
  </div>
  <div><label for="raza">Raza:</label>
    <input type="text" name="raza" placeholder="ej.Siames" id="raza" />
  </div>
  <div><label for="edad">Edad:</label>
    <input type="number" name="edad" id="edad" min="1" max="100" step="1" />
  </div>
  <div>
    <label for="dueno">Dueño:</label>
    <input type="text" name="dueno" id="dueno" /></div>
  <div>
    <label for="direccion">Direccion:</label>
    <input type="text" name="direccion" id="direccion" /></div>
</form>
<div>
    <button>REGISTRAR</button>
</div>